<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, natus, voluptatem cum dolor magnam sed, id commodi
        dignissimos ipsa facere alias ipsum. Blanditiis a dolorum enim libero,
        hic ducimus, minus commodi animi corporis cupiditate aliquid nobis nemo
        itaque eum tempora minima, vitae aliquam quae culpa eius tempore officiis.
        Inventore, consectetur?
    </div>
</article>